@import url("https://fonts.googleapis.com/css2? family= Lato:wght@300;400;700;900 & family= Montserrat:wght@200;300;400;500;600; 700;800;900 & família= Open+Sans:wght@400;500;600;700;800 & família= Roboto:wght@100;400;500;700;900 & display=swap");
:root {
  --InterFont: "Inter", sans-serif;
  --PoppinsFont: "Poppins", sans-serif;
  --MontserratFont: "Montserrat", sans-serif;
  font-family: var(--PoppinsFont);
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  background-color: #F3F4F5;
}

h1, h2, h3, h4 {
  font-family: var(--MontserratFont);
}